.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  gap: 10px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  color: black;
}

.black {
  background-color: black;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}
